html,
body {
    height: 100%;
    
}

body{
    font-size: 16px!important;
    font-family: 'Poppins', sans-serif;
}

/* .container{
    background-color: #000000;
} */

.btn-rosa{
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #ca2f8e;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10% 0 0;
  box-shadow: -2px 2px 25px 7px hsl(323, 100%, 55%);
}
.btn-rosa:hover{
  background: transparent;
  color: #fff;
  background: #ff19a6;
  box-shadow: -2px 2px 25px 20px hsl(323, 100%, 55%, 0.66);
  transition: .5s;
}

.btn_certificado{
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #ca2f8e;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10% 0 0;
  box-shadow: -2px 2px 25px 7px hsl(323, 100%, 55%);
}

.btn_certificado:hover{
  background: transparent;
  color: #fff;
  background: #ff19a6;
  box-shadow: -2px 2px 25px 20px hsl(323, 100%, 55%, 0.66);
  transition: .5s;
}

.btn-success{
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #11c70e;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10% 0 0;
  box-shadow: -2px 2px 15px 7px hsl(141, 79%, 51%);;
}
.btn-success:hover{
  background: transparent;
  color: #fff;
  background: #0cff08;
  box-shadow: -2px 2px 19px 15px hsl(141, 79%, 51%);
  transition: .5s;
}

.btn-info{
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #2cbce6;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: -2px 2px 10px 7px hsl(188, 76%, 23%);
}
.btn-info:hover{
  background: transparent;
  color: #fff;
  background: #00c5ff;
  box-shadow: -2px 2px 25px 20px hsl(188, 76%, 23%);
  transition: .5s;
}

.btn-danger{
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #e02621;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: -2px 2px 10px 7px hsl(0, 78%, 30%)  ;
}
.btn-danger:hover{
  background: transparent;
  color: #fff;
  background: #ff0700;
  box-shadow: -2px 2px 25px 20px hsl(0, 78%, 30%) ;
  transition: .5s;
}

.btn_certificado-tabela{
  padding: 7% 0 0 0;
}

.btn-editar-prova{
  width: 100%;
}

.btn-editar-aula{
  width: 100%;
}

.btn-excluir-aula{
  width: 100%;
}

.btn_play{
    max-height: 56px;
    width: 24%;
    height: auto;
    cursor: -webkit-grabbing;
}
.btn_play:hover{
  background-color: orange; 
  border-radius: 55%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background-color: #111111!important;
}

.wrap > .container {
    padding: 27px 1px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #191919;
    padding-top: 20px;
    background-color: #000000!important;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/*

css do layout

*/

.jumbotron-aulas{
    text-align: center;
    background-color: transparent;
    padding: 16px 140px 16px 140px;
}

p {
    color: #54B0F6;
    text-align: justify;
}

h1 {
    color: #54B0F6!important;
}

/* Controle de tamanho de imagens de cadastro, login e inscrição */

.cadastro-img{
    max-width: 110px;
}

.cadastrar-img{
    max-width: 250px;
}

.entrar-img{
    max-width: 75px;
}

.inscrever-img{
    max-width: 250px;
}
.continuar-img{
    max-width: 250px;
}
.salvar-img {
    max-width: 107px;
    padding: 0px 0px 11px 0px;
}
.fechar-img {
    max-width: 107px;
    padding: 0px 0px 11px 0px;
}
/* Controle de tamanho de imagens de cadastro, login e inscrição - FIM */

/* Alinhamento Responsivo */

#respalign{
    text-align: center;
}

/* Alinhamento Responsivo - FIM */

#mainNav{
    background-color: #000000!important;
}

.breadcrumb {
    background-color: #191919!important;
}

.videoin{
    text-align: center;
}

.titulo-inicio{
   color: #FB7C42!important;
}

.cursoin{
    text-align: center;
}

.titulo-pagina{
    color: #E91FA1;
}

.bg-preto{
    background-color: #000000;
}

.bg-cinzaum {
    background-color: #191919;
}

label {
    color: #54B0F6;
}

.card-header:first-child {
    color: #54B0F6;
}

.form-control {
    background-color: #191919!important;
    border: 1px solid #FB7C42!important;
}

.ins-align{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
}

.modal-content{
    /*max-width: 25rem;*/
    border: 2px solid #E91FA1!important;
    background-color: #191919!important;
    padding: 0px 14px 0px 13px;
}

.modal-title{
    color: #54B0F6;
}

.testeimg {
    background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.img-fluid {
    max-width: 100%;
    height: auto;
  }

.img-fluid-curso {
    max-width: 100%;
    height: auto;
    padding: 15% 0 0 0;
  }

/* Cards bootstrap - inicio */

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  
  .card > hr {
    margin-right: 0;
    margin-left: 0;
  }
  
  

  .card > .list-group .list-group-item{
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-radius: 23px;
  }
  
  .card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-radius: 23px;
  }
  
  .card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link:hover {
    text-decoration: none;
  }
  
  .card-link + .card-link {
    margin-left: 1.25rem;
  }
  
  .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
  .card-header + .list-group .list-group-item:first-child {
    border-top: 0;
  }
  
  .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }
  
  .card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
  }
  
  .card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
  }
  
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
  }
  
  .card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
  }
  
  .card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .card-deck .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
    .card-deck {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .card-deck .card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-right: 15px;
      margin-bottom: 0;
      margin-left: 15px;
    }
  }
  
  .card-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .card-group > .card {
    margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {

    .card-group {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
    }
    .card-group > .card {
      -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
      flex: 1 0 0%;
      margin-bottom: 0;
    }
    .card-group > .card + .card {
      margin-left: 0;
      border-left: 0;
    }
    .card-group > .card:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .card-group > .card:first-child .card-img-top,
    .card-group > .card:first-child .card-header {
      border-top-right-radius: 0;
    }
    .card-group > .card:first-child .card-img-bottom,
    .card-group > .card:first-child .card-footer {
      border-bottom-right-radius: 0;
    }
    .card-group > .card:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .card-group > .card:last-child .card-img-top,
    .card-group > .card:last-child .card-header {
      border-top-left-radius: 0;
    }
    .card-group > .card:last-child .card-img-bottom,
    .card-group > .card:last-child .card-footer {
      border-bottom-left-radius: 0;
    }
    .card-group > .card:only-child {
      border-radius: 0.25rem;
    }
    .card-group > .card:only-child .card-img-top,
    .card-group > .card:only-child .card-header {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
    .card-group > .card:only-child .card-img-bottom,
    .card-group > .card:only-child .card-footer {
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
      border-radius: 0;
    }
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header,
    .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
      border-radius: 0;
    }
  }
  
  .card-columns .card {
    margin-bottom: 0.75rem;
  }
  
  @media (min-width: 576px) {
    .card-columns {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      -webkit-column-gap: 1.25rem;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
    }
    .card-columns .card {
      display: inline-block;
      width: 100%;
    }
  }

  /* Card fim */


.bgsite {
    background-image: url("../uploads/bgsite.jpg");
}

.certificado {
    position: static;
    background-image: url("../imagens/certificado.jpg") !important;
    background-size: 100%;
    margin: 0px 0px 0px -56px;
    margin-right: -56px;
    text-align: center;
}
.certificado .certificamos{
  /*position: absolute;*/
  color: blue;
  padding: 150px 0 0;
}

.certificado .portadordocpf{
  color: blue;
  padding: -30px 0;
}

.certificado .texto{
  color: red !important;
  font-family: monospace !important;
  margin: 3% 7%;
}

.col-12{
    padding-left: 100px;
    padding-right: 100px;
}

.imagem-thumbnail{
    height: 200px!important;
}

@media(max-width: 550px){
  .img-fluid{
    /*border-radius: 20px;*/
    background-image: url("../uploads/topo_celular.jpg") !important;
    padding: 34% 0% 0% 0%;
    background-size: 100% 100%;
  }
}
.img-fluid{
    /*border-radius: 20px;*/
    background-image: url("../uploads/testetopo.jpg");
    padding: 34% 0% 0% 0%;
    background-size: 100% 100%;
}

/* Cores dos menus */

.topazul{
    color: #00b3f9;
}

.navbar-inverse .navbar-brand {
    color: #00b3f9!important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #00d882!important;
    background-color: #080808!important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ff19a6!important;
}

.ver{
    color: #00d882!important;
}

 /* centralizando o menu do topo */
 
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
  
.navbar .navbar-collapse {
    text-align: center;
}